body {
  font-family: sans-serif;
  background: #111;
  color: white;
  text-align: center;
}
button {
  padding: 12px;
  margin: 6px;
  font-size: 16px;
}
header {
  display: flex;
  justify-content: space-between;
}
#timer {
  font-size: 48px;
}
